html, body {
    margin: 0;
    padding: 0;
}

#PageTop {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    right: 1%;
}

@media (max-width: 1700px) {
    #PageTop {
        position: fixed;
        bottom: 0px;
        right: 0 !important;
        z-index: 9999;
        margin-bottom: 0;
    }
}

#PageTop a{
    background-color: #be222f;
    color: #ffffff;
    display: block;
    width: 98px;
    height: 98px;
    text-align: center;
    padding-top: 17px;
    border: solid 1px #ffffff;
}

#PageTop:hover {
    opacity: 0.7;
}

.topfont {
    font-size: 1.65em;
    display: block;
    line-height: 1;
}